[submodule "src/libcstring"]
	path = src/libcstring
	url = https://github.com/urbanspr1nter/libcstring.git
[submodule "src/linenoise"]
	path = src/linenoise
	url = https://github.com/antirez/linenoise.git
